[Desktop Entry]
Name=Antigravity IDE
Comment=Experience liftoff
GenericName=Text Editor
# NOTE: '--ozone-platform=x11' enables DBus Menu export for KDE Plasma Global Menu (Top Panel).
# To switch back to native Wayland mode in the future, change to '--ozone-platform=wayland'.
Exec=/usr/bin/antigravity-ide --ozone-platform=x11 %F
Icon=antigravity-ide
Type=Application
StartupNotify=false
StartupWMClass=antigravity-ide
Categories=TextEditor;Development;IDE;
MimeType=application/x-antigravity-ide-workspace;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/usr/bin/antigravity-ide --ozone-platform=x11 --new-window %F
Icon=antigravity-ide
